################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/ranges/v16/Int Preview/Browse.VC.db
/.vs
/out/build/x64-Debug
/out/build
