
name: CMake

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: 
        - {
            name: "Windows 2019 MSVC",
            os: windows-2019,
            build_type: "Release", cc: "cl", cxx: "cl",
            environment_script: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          }
        - {
            name: "Ubuntu 20.04 GCC 9.3",
            os: ubuntu-20.04,
            build_type: "Release", cc: "gcc", cxx: "g++-9"
          }       
        - {
            name: "Ubuntu 20.04 GCC 10.2",
            os: ubuntu-20.04,
            build_type: "Release", cc: "gcc", cxx: "g++-10"
          }
        - {
            name: "Ubuntu 20.04 Clang 9",
            os: ubuntu-20.04,
            build_type: "Release", cc: "gcc", cxx: "clang++-9"
          }       
        - {
            name: "Ubuntu 20.04 Clang 10",
            os: ubuntu-20.04,
            build_type: "Release", cc: "gcc", cxx: "clang++-10"
          }        
        - {
            name: "Ubuntu 20.04 Clang 11",
            os: ubuntu-20.04,
            build_type: "Release", cc: "gcc", cxx: "clang++-11"
          }

    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DRANGES_BUILD_TESTS=On

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
